<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiPathBeta</key>
	<string>http://danyellow.ilotreseau.net/web/</string>
	<key>betaseriesAPIKey</key>
	<string>8bc04c11b4c283b72a3fa48cfc6149f3</string>
	<key>apiPath</key>
	<string>http://api.shound.fr/</string>
	<key>apiPathLocal</key>
	<string>http://192.168.1.79/ShoundAPI/web/</string>
	<key>apiPathV2</key>
	<string>http://api2.shound.fr/</string>
	<key>appversion</key>
	<string>Shound v1.0</string>
	<key>facebookAccountURL</key>
	<string>https://www.facebook.com/app_scoped_user_id/</string>
	<key>contactShound</key>
	<string>contact@shound.fr</string>
</dict>
</plist>
